@import "./parciales/_footer.scss";
@import "./parciales/_img.scss";
@import "./parciales/_header.scss";
@import "./parciales/_variables.scss";
@import "./parciales/_section.scss";


.zindex{
        position: fixed;
        right: 10px;
        bottom: 15px;
        z-index: 99;
        height: auto;
        width: auto;

}